@font-face {
  font-family: "OrchardHeights";
  src: url("./assets/fonts/LC-OrchardHeights-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OrchardHeights";
  src: url("./assets/fonts/LC-OrchardHeights-SemiBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}


/* App.css */
body {
  font-family: "OrchardHeights", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
  background: url('./BG_EDM.jpg') no-repeat center center fixed;
    background-size: cover;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-page, .checkin-page {
  text-align: center;
  background: rgba(255,228,185);
  padding: 20px;
  border-radius: 20px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

button {
  background: rgb(166,36,35);
  color: rgba(255,228,185);
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background: rgb(166,36,35);
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 80%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message {
  margin-top: 20px;
  font-weight: bold;
}


/* Giao diện chính */
.group-stats-container {
  margin-top: 150px;
  text-align: center;
  padding: 10px;
  background: rgba(255,228,185);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  /* margin: 20px auto; */
}

/* Tiêu đề */
.group-stats-container h2 {
  font-size: 22px;
  margin-bottom: 15px;
}
/* Tổng số người check-in */
.total-checkin {
  font-size: 20px;
  font-weight: bold;
  color: rgb(166, 36, 35);
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 8px;
}
/* Grid hiển thị danh sách nhóm */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Hiển thị 2 cột */
  gap: 10px;
}

/* Card của mỗi nhóm */
.stats-card {
  background: rgb(166,36,35);
  color: white;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

/* Tên nhóm */
.group-name {
  display: block;
  font-size: 14px;
}

/* Số người check-in */
.checkin-count {
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}
